:root {
    /* --primary-green: #1a4d2e; */
    --primary-green: #705192;
    --second-green: #5f8f72;
    /* --accent-green: #4f6f52; */
    --accent-green: #624f6f;
    --glass-bg: rgba(255, 255, 255, 0.95);
    --text-dark: #2d3436;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 40px;
    height: 100%;
    text-align: center;
}

.card-body{
    /* border: 1px solid; */
}

.icon-circle {
    width: 60px;
    height: 60px;
    background: var(--primary-green);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    box-shadow: 0 10px 20px rgba(26, 77, 46, 0.2);
}

.residential-name {
    font-size: 1.4rem;
    font-weight: 600;
    /* color: var(--accent-green); */
    letter-spacing: 1.5px;
}

.welcome-text {
    font-size: 1.8rem;
    color: var(--text-dark);
    margin: 50px 0px;
}

.instruction {
    font-size: 1rem;
    color: #636e72;
    margin-bottom: 30px;
}

.otp-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 30px;
}

.otp-input {
    width: 60px;
    height: 55px;
    border: 2px solid #edf2f7;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s;
    background: #f8fafc;
}

.otp-input::placeholder{
    color: #bcbdbd;
    font-weight: 100;
}

.otp-input:focus {
    border-color: var(--primary-green);
    outline: none;
    box-shadow: 0 0 0 4px rgba(26, 77, 46, 0.1);
    background: white;
}

.verify-btn {
    width: 100%;
    padding: 15px;
    background: var(--primary-green);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    /* cursor: pointer; */
    /* transition: transform 0.2s, background 0.3s; */
}

.verify-btn:hover {
    /* background: #143a22;
    transform: translateY(-2px); */
}

.alert-message{
    color: red;
}

.card-footer{
    margin-top: 25px;
    font-size: 0.85rem;
    color: #636e72;
}

.footer-links a {
    color: var(--primary-green);
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}